.navbar {
  position: absolute;
  z-index: z(nav);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: transparent;
}

.logo {
  @extend .is-sm-4;
  padding: $s-m;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    color: $brand-primary;
  }
}

.navlist {
  @extend .is-sm-5;
  list-style: none;
  padding: 0 $s-s;
  display: flex;
  justify-content: flex-end;
}

.navitem {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &:not(:last-child) {
    margin-right: $s-s;
  }
}
